# Easy
Открыть набор данных dota_hero_stats.csv из папки data.

Данные взяты отсюда, на этом же сайте можно найти больше разнообразных данных по Dota2.

Пересчитаем число ног у героев игры Dota2! Сгруппируйте героев из датасэта по числу их ног (колонка legs), и посчитайте количество героев для каждого значения legs

In [14]:
import pandas as pd
import numpy as np

In [23]:
import requests
import json
link = 'https://api.opendota.com/api/heroes'
r = requests.get(link)
data = json.loads(r.text)

In [146]:
df = pd.DataFrame(data)
a = df[['localized_name', 'legs']]
a.head()

   localized_name  legs
0       Anti-Mage     2
1             Axe     2
2            Bane     4
3     Bloodseeker     2
4  Crystal Maiden     2

In [153]:
a.groupby(["legs"]).agg({'localized_name':['count']})

     localized_name
              count
legs
0                14
2                97
4                 8
6                 3
8                 1

# Normal
Продолжим исследование героев Dota2. Сгруппируйте по колонкам attack_type и primary_attr и выберите самый распространённый набор характеристик. Выведите список героев с этим набором характеристик

In [178]:
df = pd.DataFrame(data)
b = df[['localized_name', 'attack_type', 'primary_attr']]
for localized_name, group in b.groupby(["attack_type", "primary_attr"]):
    print(group.head())
    break

    localized_name attack_type primary_attr
0        Anti-Mage       Melee          agi
3      Bloodseeker       Melee          agi
7       Juggernaut       Melee          agi
11  Phantom Lancer       Melee          agi
30            Riki       Melee          agi

In [243]:
b.groupby(["attack_type", "primary_attr"]).agg(['count'])

                         localized_name
                                  count
attack_type primary_attr
Melee       agi                      19
            int                       3
            str                      38
Ranged      agi                      19
            int                      40
            str                       4

In [244]:
b.loc[(b['attack_type'] == 'Ranged') & (b['primary_attr'] == 'int'), 'localized_name']

2                     Bane
4           Crystal Maiden
12                    Puck
16            Storm Spirit
20              Windranger
21                    Zeus
23                    Lina
24                    Lion
25           Shadow Shaman
28            Witch Doctor
29                    Lich
31                  Enigma
32                  Tinker
34               Necrophos
35                 Warlock
37           Queen of Pain
41           Death Prophet
43                   Pugna
48                  Dazzle
50                 Leshrac
51        Nature's Prophet
56             Enchantress
62                  Jakiro
63                Batrider
64                    Chen
66      Ancient Apparition
72                 Invoker
73                Silencer
74      Outworld Destroyer
77            Shadow Demon
84                  Rubick
85               Disruptor
88     Keeper of the Light
90                  Visage
99           Skywrath Mage
103                Techies
109                 Oracle
110          Winter Wyvern
113            Dark Willow
115             Grimstroke
Name: localized_name, dtype: object